.DS_Store
.vscode/
bin/*
!bin/.gitkeep
inputs/*
!inputs/.gitkeep
lib/boost*.tar
lib/boost*/*
lib/glpk*/*
!lib/boost*/.gitkeep
!lib/glpk*/.gitkeep
utils/__pycache__
obj/*
!obj/.gitkeep
outputs/*
!outputs/.gitkeep
rf/*
experiments/*
!experiments/.gitkeep
pastruns/