SPEC_ASPECT_RATIO_MIN = 0.333
SPEC_ASPECT_RATIO_MAX = 3.0
SPEC_UTILIZATION_MIN = 0.6

HYPERPARAM_GLOBAL_PUNISHMENT = 0.08999999999999998
HYPERPARAM_GLOBAL_MAX_ASPECTRATIO_RATE = 0.9
HYPERPARAM_GLOBAL_LEARNING_RATE = 0.0005

HYPERPARAM_POR_USAGE = 0

HYPERPARAM_LEG_MAX_COST_CUTOFF = 10000

HYPERPARAM_LEG_OB_AREA_WEIGHT = 700
HYPERPARAM_LEG_OB_UTIL_WEIGHT = 900
HYPERPARAM_LEG_OB_ASP_WEIGHT = 40
HYPERPARAM_LEG_OB_UTIL_POS_REIN = -500

HYPERPARAM_LEG_BW_UTIL_WEIGHT = 2000
HYPERPARAM_LEG_BW_UTIL_POS_REIN = -1000
HYPERPARAM_LEG_BW_ASP_WEIGHT = 40

HYPERPARAM_LEG_BB_AREA_WEIGHT = 150
HYPERPARAM_LEG_BB_FROM_UTIL_WEIGHT = 900
HYPERPARAM_LEG_BB_FROM_UTIL_POS_REIN = -500
HYPERPARAM_LEG_BB_TO_UTIL_WEIGHT = 1750
HYPERPARAM_LEG_BB_TO_UTIL_POS_REIN = -500
HYPERPARAM_LEG_BB_ASP_WEIGHT = 30
HYPERPARAM_LEG_BB_FLAT_COST = 150

HYPERPARAM_LEG_LEGALMODE = 2

REFINE_ENGINE_GRID_SEARCH = 1.0

HYPERPARAM_REF_MAX_ITERATION = 30
HYPERPARAM_REF_USE_GRADIENT_ORDER = 1.0
HYPERPARAM_REF_INITIAL_MOMENTUM = 2.0
HYPERPARAM_REF_MOMENTUM_GROWTH = 2.0
HYPERPARAM_REF_USE_GRADIENT_GROW = 1.0
HYPERPARAM_REF_USE_GRADIENT_SHRINK = 1.0
